* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ship {
  position: absolute;
  width: 150px;
  height: 30px;
  background-color: #ee3;
  bottom: 50px;
  left: 50px;
}

body {
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(223, 147, 147);
}

.ball {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.parrot {
  position: absolute;
  width:800px;
  height: 800px;
  display: grid;
  gap:5px;
  grid-template-columns: repeat(1fr,20);
  grid-template-rows: repeat(1fr,20);
  border: solid 1px black;
  margin-top:-100px;
  left: 30%;
  background-color: blue;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}


#a{
  grid-column: 7/11;
  grid-row: 3/4;
  background-color: #FD3D6C;
}
/*  */
#b{
  grid-column: 7/8;
  grid-row: 4/5;
  background-color:#FD3D6C; 
}
/*  */
#c{
  grid-column: 8/10;
  grid-row: 4/5;
  background-color:#C4C4C4 ;
}

#d{
  grid-column: 10/11;
  grid-row: 4/5;
  background-color: #FD3D6C; 
}
/*  */
#e{
  grid-column: 6/8;
  grid-row: 5/7;
  background-color: #FA954C;
}
#f{
  grid-column: 9/10;
  grid-row: 5/6;
  background-color:#C4C4C4;
}
#g{
  grid-column: 10/11;
    grid-row: 5/6;
  background-color: #FD3D6C;
}
#h{
  grid-column: 8/10;
  grid-row: 6/7;
  background-color:#C4C4C4 ;
}
#i{
  grid-column: 10/11;
  grid-row: 6/9;
  background-color: #FD3D6C;
}
/*  */
#j{
  grid-column: 6/7;
  grid-row: 7/8;
  background-color:#FA954C ;
}
#k{
  grid-column: 7/10;
  grid-row: 7/8;
  background-color: #FD3D6C;
}
#l{
  grid-column: 8/10;
  grid-row: 8/9;
  background-color:#FD3D6C ;
}
/*  */
#m{
  grid-column: 11/12;
  grid-row: 8/9;
  background-color:#FD3D6C ;
}
#n{
  grid-column: 7/10;
  grid-row: 9/10;
  background-color: #FD3D6C;
}
#o{
  grid-column: 10/12;
  grid-row: 9/10;
  background-color: #F4ED34;
}
/*  */
#p{
  grid-column: 7/11;
  grid-row: 10/11;
  background-color:#FD3D6C ;
}
#q{
  grid-column: 11/13;
  grid-row: 10/11;
  background-color: #F4ED34;
}
/*  */
#r{
  grid-column: 7/11;
  grid-row: 11/12;
  background-color: #FD3D6C;
}
#s{
  grid-column: 11/13;
  grid-row: 11/12;
  background-color:#F4ED34 ;
}
#t{
  grid-column: 7/11;
  grid-row: 12/13;
  background-color: #FD3D6C ;
}
#u{
  grid-column: 11/14;
  grid-row: 12/13;
  background-color:  #3BA9FE;
}
/*  */
#v{
  grid-column: 8/11;
  grid-row: 13/14;
  background-color: #FD3D6C ;
}
#w{
  grid-column: 11/13;
  grid-row: 13/14;
  background-color:#A21DFF;
}
#x{
  grid-column: 13/14;
  grid-row: 13/14;
  background-color:  #3BA9FE;
}
#y{
  grid-column: 7/8;
  grid-row: 14/15;
  background-color: #FA954C;
}
#z{
  grid-column: 9/12;
  grid-row: 14/15;
  background-color:  #FD3D6C;
}
#a1{
  grid-column: 12/15;
  grid-row: 14/15;
  background-color:  #A21DFF;
}
#a2{
  grid-column: 8/11;
  grid-row: 15/16;
  background-color:  #FA954C;
}

#az{
  grid-column: 19/20;
  grid-row: 19/20;
  background-color: transparent;
}

#az1{
  grid-column: 13/15;
  grid-row: 15/16;
  background-color: #9EFF34;
}

#az2{
  grid-column: 13/15;
  grid-row: 16/17;
  background-color: #9EFF34;

}

#az3{

  grid-column: 14/15;
  grid-row: 17/18;
  background-color: #9EFF34;


}
/*  */